body {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #e5dbff;
}

p {
    font-size: 30px;
}

.card_space{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    display: flex;
    flex: 1 1 20%;
    height: 200px;
    width: 80px;
    transition: transform 1s;
    transform-style: preserve-3d;
}