body {
    font-family: 'Black Han Sans', sans-serif;
}

.card_space{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    display: flex;
    flex: 1 1 20%;
    height: 200px;
    width: 80px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

body {
    text-align: center;
}